{% if m_instance_context == 't' %} 
  {% set ENV = 'Non-Production' %}
{% elif m_instance_context == 'n' %}
  {% set ENV = 'Non-Production' %}
{% elif m_instance_context == 'p' %}
  {% set ENV = 'Production' %}
{% elif m_instance_context == 'i' %}
  {% set ENV = 'Infrastructure' %}
{% endif %}{
 "Environment": "{{ ENV | default('Undefined') }}",
 "CloudName":"{{ m_zone.name }}",
 "CloudLocation":"{{ m_zone.location }}",
 "CloudType":"{{ m_zone.cloudTypeCode }}",
 "Purpose": "{{ application }}-{{ tier | d('Undefined') }}",
 "ContactEmailGroup": "{{ contact_email_group }}",
 "MorpheusTenant": "{{ m_instance_tenant }}",
 "Metadata": "{{ m_metadata }}{{ m_server_tags }}",
 "CreatedBy": "{{ m_created_by }}"
}

